<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-lg-6 d-none d-sm-block">
        <p><img class="flightlogo" src="assets/icons/travel.svg">FlyWithMe</p>
      </div>
      <div class="col-lg-6 d-none d-sm-block">
          <ul class="header">
            <li>Flights</li>
            <li>Offers</li>
            <li>Support</li>
            <li>INR</li>
            <li>PROFILE</li>
          </ul>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="foot d-block d-lg-none">
    <ul class="footerdata" style="margin-left: -12%">
        <li>
          <div class="item">
            <img src="assets/icons/travel.svg" class="flightlogo"/><br>
            <span class="caption">Flight</span>
          </div>
        </li>
        <li>
          <div class="item">
            <img src="assets/icons/shopping-label.svg" class="flightlogo"/><br>
            <span class="caption">Offers</span>
          </div>
        </li>
        <li>
          <div class="item">
            <img src="assets/icons/support.svg" class="flightlogo"/><br>
            <span class="caption">Support</span>
          </div>
        </li>
        <li>
          <div class="item">
            <img src="assets/icons/rupee-indian.svg" class="flightlogo"/><br>
            <span class="caption">INR</span>
          </div>
        </li>
        <li>
          <div class="item">
            <img src="assets/icons/user.svg" class="flightlogo"/><br>
            <span class="caption">PROFILE</span>
          </div>
        </li>
    </ul>
</div>
